@font-face {
    font-family: 'oakley';
    src: url(../font/Sakitu\ Baelah\ Clean.otf)
}

@font-face {
    font-family: 'tundergood';
    src: url(../font/Thundergood.ttf)
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-padrao);
    color: var(--cor-texto)
}

.fundo-slide {
    
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

.fundo-slide .slide {
    position: absolute;
    background: url(../imagem/imagem-de-fundo.jpg) no-repeat center;
    background-size: 40%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
 

}
.fundo-slide .mostrar {
    opacity: 1;
}

.fundo-slide .slide .conteudo {
     

    display: flex;
    height: 100%;
    align-items: center;
    
}

.fundo-slide .slide .conteudo .informacoes {
  
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
   max-width: 280px;
   min-height: 500px;
   border-radius: 10px;
   
   text-align: center;
   margin-left: 710px;
}

.fundo-slide .slide .conteudo .informacoes h2 {
    margin-bottom: 10px;
    color: var(--cor-titulo);
    font-size: var(--tamanho-titulo);
    font-family: var(--fonte-titulo);
    
}




.fundo-slide .slide .conteudo .informacoes p {
    font-size: var(--tamanho-paragrafo);
   
    
}

.fundo-slide .slide .conteudo img {
    height: 150px;
    width: 250px;
    border-radius: 10px;
  
    
}

.seta-voltar, .seta-avancar {
    position: absolute;
    z-index: 1;
}

.seta-voltar {
    
    left: 3%;
}

.seta-avancar {
    
    left: 94%;
    transform: rotateY(180deg);
}

.opacidade{
    cursor: default;
    opacity: 0.5;
}